:root {
  --font-color: #2dd4bf;
  --border-center: translateX(-50%);
  --border-width: 10vw;
  --brder-bttm: 0.5rem solid #2dd4bf;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btn-hover {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.btn-hover::after {
  content: "";
  position: absolute;
  background: #2dd4bf;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  z-index: -1;
  transition: 300ms ease-in-out;
}
.btn-hover:hover::after {
  right: 0;
}
.section-heading {
  color: #2dd4bf;
  position: relative;
  margin: 1rem;
}

.section-heading::before {
  position: absolute;
  content: "";
  border-bottom: var(--brder-bttm);
  width: var(--border-width);
  top: -10%;
  transform: var(--border-center);
  left: 50%;
}

.section-heading::after {
  transform: var(--border-center);
  width: var(--border-width);
  position: absolute;
  border-bottom: var(--brder-bttm);
  content: "";
  bottom: -10%;
  left: 50%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
